
 @*@model Tuple<isTakibiWeb.Models.TBLGOREV,isTakibiWeb.Models.TBLPROJEPERSONEL>*@
@model IEnumerable<isTakibiWeb.Models.TBLGOREV>

@{
    ViewBag.Title = "ProjeDetay";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

<h2>ProjeDetay</h2>

<div>
    <table>
        <thead>
            <tr>
                <th>
                    @Html.DisplayName( "Proje KODU")
                </th>
                <th>
                    @Html.DisplayName("Personel kodu")
                </th>
                <th>
                    @Html.DisplayName("Görev Tanımı")
                </th>
                <th>
                    @Html.DisplayName("Durum")
                </th>
                <th>
                    @Html.DisplayName("Tahmini Başlangıç Tarihi")
                </th>
                <th>
                    @Html.DisplayName("Bitirme Süresi (gün)")

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var m in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => m.PROJE_KOD)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => m.PERSONEL_KOD)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => m.GOREV_TANIMI)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => m.DURUM)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => m.TAHMINI_BASLANGIC)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => m.BITIRME_SURESI)
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

