@model isTakibiWeb.Models.TBLPERSONEL

@{
    ViewBag.Title = "personelEkle";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <h4>TBLPERSONEL</h4>
        <hr />


        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.PERSONEL_KOD, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.PERSONEL_KOD, new { htmlAttributes = new { @class = "form-control col-md-5", id = "ddlPipe_Material", @onchange = "personelcheck(this.value)" } })
                @Html.ValidationMessageFor(model => model.PERSONEL_KOD, "", new { @class = "text-danger}" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PERSONEL_ADI, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.PERSONEL_ADI, new { htmlAttributes = new { @class = "form-control ",id="PERSONEL_ADI" } })
                @Html.ValidationMessageFor(model => model.PERSONEL_ADI, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PERSONEL_SOYADI, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.PERSONEL_SOYADI, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PERSONEL_SOYADI, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TEL_NO, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.TEL_NO, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TEL_NO, "", new { @class = "text-danger" })
                </div>
            </div>



            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>

            @*@if (ViewBag.Message != null)
                {
                    <script type="text/javascript">
                        window.onload = function () {
                            alert("@ViewBag.Message");
                        };
                    </script>
                }*@
        </div>
    </div>
}

<script src="@Url.Content("~/bootstrap.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery-3.3.1.min.js")" type="text/javascript"></script>
<script type="text/javascript">
    function personelcheck(val) {

        var ProjectDetails =
            {
                "PERSONEL_KOD": val
            };

            $.ajax({

                url: '/Home/GetPipeMaterialValues/',
                data: JSON.stringify(ProjectDetails),
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    var m = $('#PERSONEL_ADI');
                    m.val(data.PERSONEL_ADI);
                }
            });
        
    }
</script>





@*<script src="~/Scripts/jquery-3.3.1.js"></script>
    <script>
        $(function () {

            $("#PERSONEL_KOD").bind(function () {
                var actionUrl = '/Home/GetJsonTest';
                $.getJSON(actionUrl, function (response) {
                    if (response != null) {
                        var adi = response.PERSONEL_ADI;
                        alert('bu üye kayıtlı')
                        $("#PERSONEL_ADI").val(adi);
                    }
                });

            });
    </script>*@



@*<script src="~/Scripts/jquery-3.3.1.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#PERSONEL_KOD').blur(function () {
                $("#PERSONEL_ADI").val("TEST");
                alert('text');
            });
        });
    </script>*@

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


