@model isTakibiWeb.Models.TBLPROJE

@{
    ViewBag.Title = "projeEkle";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

<h3>Proje Ekle</h3>
<br />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <div class="form-group">
            <div class="col-md-6">
                @Html.EditorFor(model => model.PROJE_KOD, new { htmlAttributes = new { @class = "form-control", @placeholder = "Proje Kodu" } })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6">
                @Html.EditorFor(model => model.PROJE_ADI, new { htmlAttributes = new { @class = "form-control", @placeholder = "Proje Adı" } })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6">
                @Html.EditorFor(model => model.PROJE_TANIMI, new { htmlAttributes = new { @class = "form-control", @placeholder = "Proje Açıklaması" } })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-6">
                @Html.DropDownList("PROJETURU", null, htmlAttributes: new { @class = "form-control select-add-placeholder" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Oluştur" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script type="text/javascript">
    $(function () {
        $('#PROJE_KOD').blur(function () {
            $("#PROJE_ADI").val("TEST");
            alert('text');
        });
    });
</script>
<script>
$(".select-add-placeholder").prepend("<option value='' disabled selected>Proje Türü</option>");
 </script>
@*<div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@
