@model isTakibiWeb.Models.TBLPROJE

@{
    ViewBag.Title = "projeEkle";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

<h3>Proje Ekle</h3>
<br />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <div class="form-group">
            <div class="col-md-6">
                @Html.EditorFor(model => model.PROJE_KOD, new { htmlAttributes = new { @class = "form-control", @placeholder = "Proje Kodu" } })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6">
                @Html.EditorFor(model => model.PROJE_ADI, new { htmlAttributes = new { @class = "form-control", @placeholder = "Proje Adı" } })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6">
                @Html.EditorFor(model => model.PROJE_TANIMI, new { htmlAttributes = new { @class = "form-control", @placeholder = "Proje Açıklaması" } })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-6">
                @Html.DropDownListFor(model => model.PROJE_TURU,new List<SelectListItem>
                   { new SelectListItem{Text="ÖZEL", Value="özel"},
                     new SelectListItem{Text="MASAÜSTÜ", Value="masaüstü"},
                     new SelectListItem{Text="WEB", Value="web"},
                     new SelectListItem{Text="MOBİL", Value="mobil"},

           }, "Proje türü")
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Oluştur" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<script src="@Url.Content("~/bootstrap.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery-3.3.1.min.js")" type="text/javascript"></script>


<script type="text/javascript">
    $(document).ready(function () {
        $("#PROJE_KOD").on("change", function () {
            var val = document.getElementById("PROJE_KOD").value;
            $.ajax({
                url: '/Test/ProjeTest/' + val,
                type: 'POST',
                dataType: 'json',
                success: function (data) {
                    $("#PROJE_ADI").val(data.PROJE_ADI)
                    $("#PROJE_TANIMI").val(data.PROJE_TANIMI);
                    $("PROJE_TURU").val(data.PROJE_TURU)
                },
                error: function (hata, ajaxOptions, thrownError) {
                    alert(hata.status);
                    alert(thrownError);
                    alert(hata.responseText);
                }
            });
        });
    });

</script>

<script>
    $(".select-add-placeholder").prepend("<option value='' disabled selected>Proje Türü</option>");
</script>
@*<div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@
