@model IEnumerable<isTakibiWeb.Models.TBLPROJE>

@{
    ViewBag.Title = "projeGörüntüle";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}


<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Tables</li>
    </ol>
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-table"></i> personel tablosu
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>

                            <th>
                                @Html.DisplayName("Proje Kodu")
                            </th>
                          <th>
                                @Html.DisplayName("Proje Adı")
                            </th>
                            <th>
                                @Html.DisplayName("Proje Türü")
                            </th>


                            <th></th>
                        </tr>
                    </thead>

                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>

                                <td>
                                    @Html.DisplayFor(modelItem => item.PROJE_KOD)
                                </td>
                              
                                <td>
                                    @Html.DisplayFor(modelItem => item.PROJE_ADI)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PROJE_TURU)
                                </td>


                                <td>
                                    @using (Html.BeginForm("ProjeDüzenle", "Proje", new { id = item.PROJE_KOD }, FormMethod.Get))
                                    {
                                        <input type="submit" value="Düzenle" />
                                    }
                                    @using (Html.BeginForm("ProjeDetay", "Proje", new { id = item.PROJE_KOD }))
                                    {
                                        <input type="submit" value="Ayrıntılar" />
                                    }
                                    @*@using (Html.BeginForm("ProjeSil", "Proje", new { id = item.PROJE_KOD }))
                                    {
                                        <input type="submit" value="Sil" onclick="return confirm ('Silmek istediğinize Emin misiniz?')" />
                                    }*@

                                </td>
                            </tr>
                        }
                    </tbody>

                </table>

            </div>
        </div>
    </div>
</div>

<a class="scroll-to-top rounded" href="#page-top">
    <i class="fa fa-angle-up"></i>
</a>

