@model IEnumerable<isTakibiWeb.Models.TBLPROJE>

@{
    ViewBag.Title = "projeGörüntüle";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

<h2>projeGörüntüle</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        
     
        <th>
            @Html.DisplayNameFor(model => model.PROJE_ADI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PROJE_TANIMI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PROJE_TURU)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ARSTR_1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ARSTR_2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ARSTR_3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ARFLOAT_1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ARFLOAT_2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ARFLOAT_3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ARDATE_1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ARDATE_2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ARDATE_3)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.REC_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REC_DATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REC_USERNAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REC_USERNO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REC_UPDATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REC_UPUSERNAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REC_UPUSERNO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REC_CHANGED)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REC_VERSION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PROJE_ADI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PROJE_TANIMI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PROJE_TURU)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ARSTR_1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ARSTR_2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ARSTR_3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ARFLOAT_1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ARFLOAT_2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ARFLOAT_3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ARDATE_1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ARDATE_2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ARDATE_3)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PROJE_KOD }) |
            @Html.ActionLink("Details", "Details", new { id=item.PROJE_KOD }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PROJE_KOD })
        </td>
    </tr>
}

</table>
